.carousel, .carousel .carousel-item {
    height: 100vh;
    width: 100%;
    background-color: mediumseagreen;
}

.carousel .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}


@media screen and (max-width: 425px) {
    
}